.language-select {
    width: 110px;
    background: rgb(171, 171, 171) !important;
    border-radius: 5px !important;
    border: 1px solid #555 !important;
}

.language-select .ant-select-selector {
    background: transparent !important;
    color: white !important;
    text-align: center !important;
}

.language-select .ant-select-arrow {
    display: none !important;
}

.main-intro-header {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.main-intro-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.main-intro-slide-container {
    width: 100%;
    height: 100vh;
}

.main-intro-slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-intro-overlay {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 35%;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 콘텐츠를 상단과 하단으로 분리 */
    padding: 15vh 5vw; /* 상하 패딩을 추가하여 콘텐츠가 가장자리에 붙지 않도록 함 */
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경색 추가 */
    text-align: left; /* 내부 텍스트 기본 왼쪽 정렬 */
}

.main-intro-overlay h1 {
    font-family: 'Playfair Display', serif;
    font-size: 6rem;
    font-size: 4.5rem;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    margin: 0;
    letter-spacing: 3px;
    color: #ffffff; /* 폰트 색상을 흰색으로 지정 */
}

.main-intro-overlay p {
    font-size: 1.5rem;
    font-size: 1.3rem;
    margin: 15px 0 30px;
    color: var(--secondary-color);
    color: rgba(255, 255, 255, 0.85); /* 흰색에 투명도를 주어 부드러운 느낌을 줍니다. */
}

/* antd Button 커스텀 스타일 */
.main-intro-overlay .intro-button {
    height: auto; /* antd 기본 높이값 초기화 */
    padding: 12px 30px; /* 패딩 조정 */
    font-size: 1.2rem; /* 폰트 크기 */
    font-weight: 700; /* 폰트 두께 */
    border-radius: 50px; /* 둥근 모서리 */
    border-width: 2px; /* 테두리 두께 */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* 텍스트 그림자 */
    color: #d4af37 !important; /* 텍스트 색상 */
    border-color: #d4af37 !important; /* 테두리 색상 */
}

.main-intro-overlay .intro-button:hover {
    transform: scale(1.05);
    color: #000 !important;
    background-color: #d4af37 !important;
    border-color: #d4af37 !important;
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.8), 0 0 30px rgba(212, 175, 55, 0.5);
}

@media (max-width: 768px) {
    .main-intro-overlay h1 {
        font-size: 2.7rem; 
    }
    .main-intro-overlay p {
        font-size: 1rem;
    }
    .main-intro-overlay .intro-button {
        font-size: 1rem;
        padding: 10px 24px;
    }
    .main-intro-overlay {
        width: 100%;
        text-align: center;
        justify-content: center;
        gap: 50vh;
        padding: 0 8vw;
    }
}