.main-intro-header {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-start; /* 수직 정렬을 상단으로 변경 */
    justify-content: center;
    text-align: center;
    color: var(--primary-color);
    overflow: hidden;
    padding-top: 15vh; /* 상단 여백 추가 */
    box-sizing: border-box; /* 패딩이 높이에 포함되도록 설정 */
}

.main-intro-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.main-intro-slide-container {
    width: 100%;
    height: 100vh;
}

.main-intro-slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-intro-overlay {
    position: relative;
    z-index: 2;
    border-radius: 15px;    
}

.main-intro-overlay h1 {
    font-family: 'Playfair Display', serif;
    font-size: 6rem;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    margin: 0;
    letter-spacing: 3px;
}

.main-intro-overlay p {
    font-size: 1.5rem;
    margin: 15px 0 30px;
    color: var(--secondary-color);
}

.main-intro-overlay button {
    background-color: transparent; /* 배경을 투명하게 변경 */
    color: var(--accent-color); /* 텍스트 색상을 강조 색상으로 변경 */
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease; /* 모든 관련 속성 전환 효과 추가 */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.main-intro-overlay button:hover {
    transform: scale(1.05);
    background-color: var(--accent-color); /* 호버 시 배경색 채우기 */
    color: var(--background-color); /* 호버 시 텍스트 색상을 어둡게 변경하여 대비 효과 */ 
    border-color: var(--accent-color); /* 호버 시 테두리 색상도 배경색과 동일하게 */
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.8), 0 0 30px rgba(212, 175, 55, 0.5); /* 영롱한 골드 그림자 효과 */
}

@media (max-width: 768px) {
    .main-intro-overlay h1 {
        font-size: 4rem;
    }
    .main-intro-overlay p {
        font-size: 1.2rem;
    }
}