.profile-albums {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.timeline-slider-wrapper {
  width: 100%;
  height: 90vh;
  padding: 20px 0;
}

.timeline-slider-wrapper .slick-slider,
.timeline-slider-wrapper .slick-list,
.timeline-slider-wrapper .slick-track {
  height: 100%;
}
.timeline-slider-wrapper .slick-slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discography-slide {
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.discography-card {
  display: flex !important;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  height: 95%;
  max-height: 800px;
  background: #111;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.discography-image-wrapper {
  flex: 1;
  overflow: hidden;
}

.discography-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.discography-card-info {
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.discography-card-header {
  margin-bottom: 15px;
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.discography-card-header h4 {
  font-size: 1.8rem;
  margin: 0 0 5px;
}

.discography-card-header p {
  font-size: 1rem;
  color: #aaa;
  margin: 0;
}

.discography-card-track-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  flex: 6;
}

.discography-card-track-list li a {
  color: #ddd;
  text-decoration: none;
  font-size: 0.9rem;
  line-height: 1.8;
}

.discography-card-track-list li a:hover {
  color: #fff;
}

.timeline-slider-wrapper .slick-dots {
  bottom: 0;
  bottom: 20px;
}

.timeline-slider-wrapper .slick-dots li button::before {
  color: #fff;
  opacity: 0.5;
  font-size: 10px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .discography-card {
    flex-direction: row;
  }

  .discography-image-wrapper {
    flex: 1.5; /* 이미지 영역이 더 많은 공간을 차지하도록 */
  }

  .discography-card-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background: #1a1a1a;
  }
}